<section id="team" class="team-area">
    <section class="speakers-section">
        <div class="container-fluid">
            <div id="heading">
                <div class="container hdAndText" style="text-align: left;">
                    <h1 class="h1text">OUR TEAM</h1>
                    <div class="yellow_line"></div>
                </div>
            </div>
            <div class="row justify-content-around team-items">
                <div class="col-md-3  single-item">
                    <div class="item" data-aos="zoom-in" data-aos-duration="2000 ">
                        <div class="thumb">
                            <img class="img-council" src="../../../assets/images/team/Kale maam.jpg" alt="Thumb">

                        </div>
                        <div class="info">
                            <span class="message">
                                <a target="_blank" href="https://www.linkedin.com/in/dr-geetanjali-kale-17148922/"><i
                                        class="fa fa-linkedin"></i></a>
                            </span>
                            <h4>Dr. Geetanjali Kale</h4>
                            <span>Teacher Guardian</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-around">
                <div class="col-md-3 single-item">
                    <div class="item" data-aos="zoom-in" data-aos-duration="2000 ">
                        <div class="thumb">
                            <img class="img-council" src="../../../assets/images/team/jinesh.jpg" alt="Thumb">
                        </div>
                        <div class="info">
                            <span class="message">
                                <a target="_blank" href="https://www.linkedin.com/in/jinesh-parakh/"><i
                                        class="fa fa-linkedin"></i></a>
                            </span>
                            <h4>Jinesh Parakh</h4>
                            <span>PASC Chairman</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 single-item">
                    <div class="item" data-aos="zoom-in" data-aos-duration="2000 ">
                        <div class="thumb">
                            <img class="img-council" src="../../../assets/images/team/Rohit.jpg" alt="Thumb">

                        </div>
                        <div class="info">
                            <span class="message">
                                <a target="_blank" href="https://www.linkedin.com/in/rohit-pardeshi-785921176/"><i
                                        class="fa fa-linkedin"></i></a>
                            </span>
                            <h4>Rohit Pardeshi</h4>
                            <span>PASC Vice Chairman</span>
                        </div>
                    </div>
                </div>

            </div>
            <div class="row justify-content-around team-items">
                <div class="col-md-3 single-item">
                    <div class="item" data-aos="zoom-in" data-aos-duration="2000 ">
                        <div class="thumb">
                            <img class="img-council" src="../../../assets/images/team/Atharva Chavan.jpeg" alt="Thumb">

                        </div>
                        <div class="info">
                            <span class="message">
                                <a target="_blank" href="https://www.linkedin.com/in/avc0706/"><i
                                        class="fa fa-linkedin"></i></a>
                            </span>
                            <h4>Atharv Chavan</h4>
                            <span>Secretary</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 single-item">
                    <div class="item" data-aos="zoom-in" data-aos-duration="2000 ">
                        <div class="thumb">
                            <img class="img-council" src="../../../assets/images/team/Siddhesh.jpeg" alt="Thumb">

                        </div>
                        <div class="info">
                            <span class="message">
                                <a target="_blank" href="https://www.linkedin.com/in/siddhesh-dhanavde-3079b3185/"><i
                                        class="fa fa-linkedin"></i></a>
                            </span>
                            <h4>Siddhesh Dhanavde</h4>
                            <span>Treasurer</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 single-item">
                    <div class="item" data-aos="zoom-in" data-aos-duration="2000 ">
                        <div class="thumb">
                            <img class="img-council" src="../../../assets/images/team/aditya.jpg" alt="Thumb">

                        </div>
                        <div class="info">
                            <span class="message">
                                <a target="_blank" href="https://www.linkedin.com/in/aditya-avhad-078797187/"><i
                                        class="fa fa-linkedin"></i></a>
                            </span>
                            <h4>Aditya Avhad</h4>
                            <span>Public Relations Officer</span>
                        </div>
                    </div>
                </div>
            </div>



            <div class="row justify-content-around team-items">
                <div class="col-md-3 single-item">
                    <div class="item" data-aos="zoom-in" data-aos-duration="2000 ">
                        <div class="thumb">
                            <img class="img-council" src="../../../assets/images/team/Soumya.jpeg" alt="Thumb">

                        </div>
                        <div class="info">
                            <span class="message">
                                <a target="_blank" href="https://www.linkedin.com/in/soumya-malgonde-460480150/"><i
                                        class="fa fa-linkedin"></i></a>
                            </span>
                            <h4>Soumya Malgonde</h4>
                            <span>Technical Head</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3  single-item">
                    <div class="item" data-aos="zoom-in" data-aos-duration="2000 ">
                        <div class="thumb">
                            <img class="img-council" src="../../../assets/images/team/pratik.png" alt="Thumb">
                        </div>
                        <div class="info">
                            <span class="message">
                                <a target="_blank" href="https://www.linkedin.com/in/pratikdaigavane/"><i
                                        class="fa fa-linkedin"></i></a>
                            </span>
                            <h4>Pratik Daigavane</h4>
                            <span>Technical Head</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 single-item">
                    <div class="item" data-aos="zoom-in" data-aos-duration="2000 ">
                        <div class="thumb">
                            <img class="img-council" src="../../../assets/images/team/Kunal.jpeg" alt="Thumb">

                        </div>
                        <div class="info">
                            <span class="message">
                                <a target="_blank" href="https://www.linkedin.com/in/zukonit14/"><i
                                        class="fa fa-linkedin"></i></a>
                            </span>
                            <h4>Kunal Raut</h4>
                            <span>Domain Director (Competitive Coding)</span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row justify-content-around team-items">


                <div class="col-md-3 single-item">
                    <div class="item" data-aos="zoom-in" data-aos-duration="2000 ">
                        <div class="thumb">
                            <img class="img-council" src="../../../assets/images/team/prathmesh.png" alt="Thumb">

                        </div>
                        <div class="info">
                            <span class="message">
                                <a target="_blank" href="https://www.linkedin.com/in/pnshiralkar/"><i
                                        class="fa fa-linkedin"></i></a>
                            </span>
                            <h4>Prathamesh Shiralkar</h4>
                            <span>Domain Director (Web & DevOps)</span>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 single-item">
                    <div class="item" data-aos="zoom-in" data-aos-duration="2000 ">
                        <div class="thumb">
                            <img class="img-council" src="../../../assets/images/team/aniruddha.jpeg" alt="Thumb">

                        </div>
                        <div class="info">
                            <span class="message">
                                <a target="_blank" href="https://www.linkedin.com/in/aniruddhadeshmukh004/"><i
                                        class="fa fa-linkedin"></i></a>
                            </span>
                            <h4>Aniruddha Deshmukh</h4>
                            <span>Domain Director (Android)</span>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 single-item">
                    <div class="item" data-aos="zoom-in" data-aos-duration="2000 ">
                        <div class="thumb">
                            <img class="img-council" src="../../../assets/images/team/pranav.jpeg" alt="Thumb">

                        </div>
                        <div class="info">
                            <span class="message">
                                <a target="_blank" href="https://www.linkedin.com/in/pranav-kadam-1317a2187/"><i
                                        class="fa fa-linkedin"></i></a>
                            </span>
                            <h4>Pranav Kadam</h4>
                            <span>Marketing Head</span>
                        </div>
                    </div>
                </div>
            </div>
   
            <div class="row justify-content-around team-items">
                <div class="col-md-3  single-item">
                    <div class="item" data-aos="zoom-in" data-aos-duration="2000 ">
                        <div class="thumb">
                            <img class="img-council" src="../../../assets/images/team/abhishek.png" alt="Thumb">
                        </div>
                        <div class="info">
                            <span class="message">
                                <a target="_blank" href="https://www.linkedin.com/in/abhishek-kushwaha-670797187/"><i
                                        class="fa fa-linkedin"></i></a>
                            </span>
                            <h4>Abhishek Kushwaha</h4>
                            <span>Design Head</span>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
</section>