<br />
<br />
<br />
<div class="m-5"></div>
<div class="selfmargin">
  <section id="heading">
    <div class="container hdAndText" style="text-align:left; ">
      <h1 class="h1text">
        ACHIEVEMENTS
      </h1>
      <div class="yellow_line"></div>
    </div>
  </section>
  <br /><br /><br />

  <section class="new-section">
    <div class="container">
      <div class="row ">
        <div class="col-12 text-center midheads">
          <h1>PARTICIPATION OF PASC IN ACM INDIA ACTIVITIES</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6 col-12  ">
          <div class="card" data-aos="zoom-in" style="margin-top: 20%;">
            <div class="card-body">
              <h3 class="text-center">
                <i class="fa fa-venus"></i> ACM-W Hackathon
              </h3>
              <br /><br />

              <p>
                The students of PICT ACM Student Chapter, Ms. Sarita Joshi, Ms.
                Nayan Sabnis & Ms. Vedangi Wagh participated in a 24 hour long
                hackathon that was held on the 16th and 17th of November, 2019.
                The hackathon was organised by ACM-W, a branch of ACM that
                supports and advocates for the full engagement of women in all
                aspects of the computing field.
              </p>

              <p class="d-none d-lg-block">
                The theme for the hackathon was environmental health. The
                students of PASC built an Android application using AI for
                environmental protection. They created a scale that measures the
                eco-friendliness of a product based on its composition. For the
                recycling of various products, they introduced a pick up service
                by the local authorities. After three rigorous rounds of
                evaluation, the hackathon ended on 17/11 at 9 AM. The team from
                PASC bagged the Second Place from a total of 10 teams in the
                final round. For additional information, you can visit the
                website : http://acmwh19.sicsr.ac.in/.
              </p>
            </div>
          </div>
        </div>

        <div class="col-lg-6 col-12  ">
          <div class="row">
            <div class="col-12 ">
              <div class="  row justify-content-center">
                <div class="container-fluid cf2 row ">
                  <div
                    class="card col-12 "
                    data-aos="zoom-in"
                    style="margin-top: 22%;"
                  >
                    <div class="card-body card-text ">
                      <h4><i class="fa fa-trophy"></i> ACM Chapter Summit</h4>
                      &nbsp;
                      <i id="names">(Pratik Ratadiya and Shreyans Patni)</i>
                      <br /><br />
                      <h4><i class="fa fa-trophy"></i> ACM Compute</h4>
                    </div>
                  </div>
                </div>

                <div class="container-fluid cf2 row ">
                  <div
                    class="card col-12 "
                    data-aos="zoom-in"
                    style="margin-top: 20%;"
                  >
                    <div class="card-body card-text ">
                      <h4>GHCI</h4>
                      We the students of PICT ACM Student Chapter got an
                      opportunity to attend Grace Hopper Celebration India,
                      2019. We are grateful to ACM India for giving us this
                      wonderful opportunity. It was indeed an amazing
                      experience. Thank you so much
                      <a href="india.acm.org">@ACMIndia</a> <br />
                      <i id="names">-Shraddha Varat</i>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <br /><br /><br /><br />
      </div>
    </div>
  </section>

  <section class="new-section">
    <div class="container">
      <div class="row mt-none mt-lg-5">
        <div class="col-sm-12 col-md-6 row-content">
          <div>
            <div class="card mt-5" data-aos="zoom-in">
              <div class="card-body">
                <h4 class="card-title text-center ">
                  ESP organized by Persistent
                </h4>
                <br />
                <h5>Speakers: <span id="names">Sachin Lodha and PK</span></h5>
                <br />
                <p class="card-text text-center ">
                  The students of PICT ACM Student Chapter attended the Session
                  2 of ACM Eminent Speaker Program Series conducted on 16th
                  November 2019 at Persistent Systems, Pune. The session
                  comprised of talks by two renowned speakers Dr. Sachin Lodha
                  and Dr. Ponnurangam Kumaraguru.
                </p>
                <p class="card-text text-center d-none d-lg-block">
                  Dr. Sachin spoke about the challenges and opportunities
                  related to privacy. He discussed about various risks possessed
                  to our privacy and how we should be careful about the same.
                  Later, Dr. Ponnurangam spoke about Privacy and Security in
                  Online Social Media. He gave us insights about his research on
                  various social media platforms and their impact on different
                  scenarios in daily life. It was an amazing experience. We
                  gained an amazing outlook on the given topic
                </p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-md-6 row-content">
          <div>
            <div class="card " data-aos="zoom-in" style="margin-top: 15%;">
              <div class="card-body">
                <h4 class="card-title text-center">
                  Cyber Security Winter School
                </h4>
                <i id="names2" class=" card-title text-center"
                  >- Himani Gwalani and Shubhankar Gaikwad</i
                ><br />
                <p class="card-text text-center ">
                  “I am very lucky to have gotten this opportunity to attend ACM
                  Winter School for Cybersecurity. I would like to thank ACM
                  India and NISER, Bhubaneswar for providing us students with
                  this amazing opportunity. I would also like to thank Pict ACM
                  Student Chapter and Dr.Geetanjali Kale for helping me make out
                  the best out of this opportunity. This experience really
                  helped me learn a lot about the domain from some of the best
                  teachers in India, along with some really amazing peers”
                </p>
                <br /><span id="names2" class="text-right"
                  >-Himani Gwalani</span
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <br /><br /><br /><br /><br />

  <section class="new-section">
    <div class="container">
      <div class="row ">
        <div class="col-12 text-center" data-aos="zoom-in">
          <h1 class="midheads">ACHIEVEMENTS OF VARIOUS PASC MEMBERS</h1>
        </div>
      </div>

      <div class="row">
        <div class="col-lg-6 col-12  ">
          <div class="row">
            <div class="col-12 ">
              <div class="  row justify-content-center">
                <div class="container-fluid cf2 row ">
                  <div
                    class="card col-12 "
                    data-aos="zoom-in"
                    style="margin-top: 28%;"
                  >
                    <div class="card-body card-text">
                      <h4><i class="fa fa-code"></i> ACM ICPC Regionals</h4>
                      <br />
                      <h6 class="icpcdiv">
                        Pune:<span class="icpc"> Darshan Bari</span> <br />
                        Amritapuri:<span class="icpc"> Darshan Bari</span>
                        <br />
                        Kharagpur:<span class="icpc">
                          Shreyans Patni, Nilakshi Lo, Shahrukh Khan</span
                        >
                      </h6>
                    </div>
                  </div>
                </div>

                <div class="container-fluid cf2 row ">
                  <div
                    class="card col-12 "
                    data-aos="zoom-in"
                    style="margin-top: 10%;"
                  >
                    <div class="card-body card-text ">
                      <h4>
                        <i class="fa fa-user-graduate"></i> GRE Top-Scorers:
                      </h4>
                      <pre><h6>   Pratik Ratadiya: 332/340</h6></pre>

                      <h4>
                        <i class="fa fa-laptop-code"></i> Prestigious
                        Internships:
                      </h4>
                      <br />
                      <h6>
                        <b>Microsoft - </b
                        ><span id="names2"><i> Nilakshi Lo</i></span
                        ><br />
                        <b>IIST - </b
                        ><span id="names2"
                          ><i>
                            Pratik Ratadiya, Yash Agrawal and Vedangi Wagh
                          </i></span
                        ><br />
                        <b>Barclays - </b
                        ><span id="names2"><i> Geet Shingi </i></span><br />
                        <b>Igalia CE (Chromium Team) - </b
                        ><span id="names2"><i> Shivam Balikondwar</i></span>
                      </h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <br /><br /><br /><br />
        </div>

        <div class="col-lg-6 col-12  ">
          <div class="card " data-aos="zoom-in" style="margin-top: 20%;">
            <div class="card-body">
              <h4 class="text-center">PASC Members in Hackathons:</h4>
              <br />
              <p></p>
              <h5>
                <i class="fa fa-arrow-right"></i> Smart India Hackathon 2019
                winners:
              </h5>
              <b>Team DaemonX</b> :
              <span class="icpc">Shoaib Ahmed and Janhavi Dabak</span> <br />
              <b>Team Java_js</b> : <span class="icpc">Jayprakash Chawla </span
              ><br />
              <b>Team Atulya_6:</b>
              <span class="icpc"
                >Tanvi Bhargavi, Vindeep Chaudhari , Shraddha Varat </span
              ><br />
              <b>Team hiddenforprivacy:</b>
              <span class="icpc"> Shivam Balikondwar </span><br /><br />
              <h5>
                <i class="fa fa-arrow-right"></i> Singapore India Hackathon:
              </h5>
              <b>Team DaemonX</b> :
              <span class="icpc">Shoaib Ahmed and Janhavi Dabak</span
              ><br /><br />
              <h5><i class="fa fa-arrow-right"></i> Manipal Hackathon:</h5>
              <B>Team- Codholic:</B
              ><span class="icpc">Shwetali Shimangaud </span><br /><br />
              <h5>
                <i class="fa fa-arrow-right"></i> Mindspark (C.O.E.P.)
                Hackathon:
              </h5>
              <span class="icpc"
                >Shubham Kukreja, Divyank Lunkad, Rishi Gondkar and Mihir
                Kulkarni</span
              ><br />
              <br />
              <h5><i class="fa fa-arrow-right"></i> Barclays Hackathon:</h5>
              <b>Team- Alpinists:</b
              ><span class="icpc"> Geet Shingi and Shahrukh Ozair </span><br />
              <b>Team - Deceptcons:</b><span class="icpc"> Shreyans Patni</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="new-section">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-6 row-content">
          <div>
            <div class="card" data-aos="zoom-in" style="margin-top: 22%;">
              <div class="card-body">
                <h4 class="text-center">Projects by PASC members :</h4>
                <br />
                <p></p>
                <h5><i class="fa fa-arrow-right"></i> Pulzion19 website</h5>
                <br />
                <h5>
                  <i class="fa fa-arrow-right"></i> Pulzion19 beta website
                </h5>
                <br />
                <h5><i class="fa fa-arrow-right"></i> MCQ platform</h5>
                <br />
                <h5>
                  <i class="fa fa-arrow-right"></i> Pulzion 19 Android App
                </h5>
                <br />

                <h5>
                  <i class="fa fa-arrow-right"></i> Pulzion 19 Registration App
                </h5>
                <br />

                <h5><i class="fa fa-arrow-right"></i> EMS</h5>
                <br />

                <h5>
                  <i class="fa fa-arrow-right"></i> Certificate allocation code
                </h5>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-12 col-md-6 row-content">
          <div>
            <div class="card mt-5" data-aos="zoom-in">
              <div class="card-body">
                <h4 class="card-title text-center">
                  <i class="fa fa-scroll"></i> Research Papers:
                </h4>
                <br /><br />
                <p class="card-text  ">
                  <i class="fa fa-bookmark"></i
                  ><span class="research"> Spam filtering on forums:</span
                  ><cite
                    ><br />
                    A synthetic oversampling based approach for imbalanced data
                    classification <br
                  /></cite>

                  <span id="names2"
                    >- SciPy India conference by <i>Pratik Ratadiya</i></span
                  >
                  <br /><br />
                  <i class="fa fa-bookmark"></i
                  ><span class="research">
                    Evolution of transfer learning in natural language
                    processing </span
                  ><br />
                  <span id="names2">- arXiv by <i>Pratik Ratadiya</i></span
                  ><br /><br />
                  <i class="fa fa-bookmark"></i
                  ><span class="research">
                    Multilingual cyber abuse detection using advanced
                    transformer architecture </span
                  ><br />
                  <span id="names2">
                    - TENCON 2019 by <i>Pratik Ratadiya</i></span
                  ><br /><br />
                  <i class="fa fa-bookmark"></i
                  ><span class="research">
                    An attention ensemble based approach for multilabel
                    profanity detection</span
                  >
                  <br />
                  <span id="names2">- ICDM 2019 by <i>Pratik Ratadiya</i></span
                  ><br /><br />
                  <i class="fa fa-bookmark"></i>
                  <span class="research">
                    Modi 2.0: Use of generative pre-training based transformers
                    for political speech generation </span
                  ><br />
                  <span id="names2"
                    >- ESCI 2020 by <i>Pratik Ratadiya & Ninad Talware</i></span
                  >
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="new-section">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-12 row-content">
          <div>
            <div class="card" data-aos="zoom-in" style="margin-top: 5%;">
              <div class="card-body">
                <h4 class="text-center">More Projects by PASC members...</h4>
                <br />
                <p></p>
                <table class="table">
                  <thead>
                    <tr>
                      <th scope="col">Name</th>
                      <th scope="col">Author</th>
                      <th scope="col">Details</th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let pro of projects">
                    <tr>
                      <td>{{ pro.heading }}</td>
                      <td>{{ pro.author.author_name }}</td>
                      <td>
                        <button
                          type="button"
                          class="btn btn-primary"
                          data-toggle="modal"
                          data-target=".bd-example-modal-lg"
                          (click)="passData(pro)"
                        >
                          View Details
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <br /><br /><br />
</div>

<div
  class="modal fade bd-example-modal-lg"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myLargeModalLabel"
  aria-hidden="true"
  *ngIf="mpro"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ mpro.heading }}</h5>

        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <a [attr.href]="mpro.link" target="blank" class="nav-link">{{
          mpro.link
        }}</a>
        <div
          class="lead e2e-trusted-url"
          [innerHTML]="mpro.content | keepHtml"
        ></div>
      </div>
    </div>
  </div>
</div>
<div class="mybutton">
  <button class="addblog" routerLink="/project/new">Add Projects</button>
</div>
