.card {
  box-shadow: 0 2px 20px 0 rgba(0, 0, 0, 0.1);
  border: none;
}

#names {
  color: grey;
  font-size: 1.2rem;
}

#names2 {
  color: grey;
  font-size: 1rem;
}

.icpc {
  font-weight: normal;
  color: grey;
  font-style: italic;
}

.research {
  font-weight: 600;
  font-size: 1.1rem;
}

.achivh1 {
  font-size: 3rem;
  color: #003a78;
  line-height: 1.2;
  font-weight: 550;
  font-family: "Open Sans", sans-serif;
}

.underline {
  content: "";
  position: relative;
  bottom: 0;
  top: -15px;
  left: 0;
  right: 0;
  height: 10px;
  width: 6%;
  background-color: #fdb811;
  z-index: 1;
  margin-bottom: 5%;
  transition: all 0.3s ease-in-out 0s;
}

.jumbotron {
  background-color: white;
}

h4 {
  color: #003a78;
}

h3 {
  color: #003a78;
}

.fa-arrow-right {
  color: #fdb811;
}

.midheads {
  color: #003a78;
}

.icpcdiv {
  font-size: 1.2rem;
}

.yellow_line {
  content: "";
  position: relative;
  bottom: 0px;
  top: -15px;
  left: 0;
  right: 0px;
  height: 10px;
  width: 10%;
  background-color: rgb(253, 184, 17);
  z-index: 1;
  margin-bottom: 5%;
  transition: all 0.3s ease-in-out 0s;
}

.hdAndText {
  padding: 0 100px;
}

.hdAndText .h1text {
  font-size: 5vw;
  color: #003a78;
  line-height: 1.2;
  letter-spacing: 0;
  font-weight: 550;
  /* margin-bottom: 50px */
  font-family: "Open Sans", sans-serif;
}

@media screen and (max-width: 900px) {
  .hdAndText {
    padding: 0 10%;
  }
  .hdAndText .h1text {
    font-size: 2.5rem;
  }
}
