<br><br><br><br><br>
<div *ngIf="currentUser.admin">


<nav class="navbar navbar-light bg-info">
    <span class="navbar-brand mb-0 h1">Admin Panel</span>
  </nav>
  
 <div class="container" >

  <div>
    <mat-form-field>
    <input matInput placeholder="Date (dd/mm/yyyy)" [(ngModel)] = "date" class="input-field" >
  </mat-form-field>
  <mat-form-field>
      <input matInput placeholder="Topic" [(ngModel)] = "topic" class="input-field" >
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Description" [(ngModel)] = "description" class="input-field" >
      </mat-form-field>
    
          <button mat-raised-button color="blue" class="btn btn-primary m-4" (click)="createUpcoming()"
          [disabled]="!date || !description || !topic">Create Event</button>
  </div>

</div> 
</div>

<div *ngIf="!currentUser.admin" >
  <br><br>
  <div style="text-align: center;">
  <img src="../../../assets/images/avc/error-404-found-glitch-effect_8024-4.jpg" alt="">
  </div>
  </div>