<div class="container">
  <div class="m-5"></div>
  <div class="m-5"></div>
  <br /><br /><br /><br />
  <div *ngIf="blog.heading">
    <h1 class="heading">{{ blog.heading }}</h1>
    <h4 class="font-weight-light text-muted">{{ blog.subHeading }}</h4>
    <h4 class="font-weight-medium" style="margin: 10px 0;">
      - {{ blog.author }}
    </h4>
    <div class="category">
      <span class="badge badge-pill badge-primary ml-1 mr-1">{{
        blog.category
      }}</span>
    </div>
    <img src="{{ blog.image }}" alt="" class="img-fluid" style="width: 80%;" />
    <div
      class="lead e2e-trusted-url"
      [innerHTML]="blog.content | keepHtml"
    ></div>
    <div *ngIf="admin">
      <div *ngIf="!blog.approve">
        <button class="btn btn-primary m-2" (click)="markCompleted(blog._id)">
          Accept
        </button>
        <button class="btn btn-danger m-2" (click)="deleteBlog(blog._id)">
          Delete
        </button>
      </div>
    </div>
  </div>
  <div [hidden]="blog.heading" class="text-center spinner-margin">
    <mat-spinner mode="indeterminate"></mat-spinner>
  </div>
</div>
