<br><br><br>
<div *ngIf="currentUser.admin">
  <br><br>

  <div class="container">
    <article>
     
      <h2><span>Select a Album:</span></h2>
      <select (change)="selectChangeHandler($event)">
          <option value="1">Pulzion</option>
          <option value="2">Rad , Pascathon</option>
          <option value="3">Hour of code</option>
          <option value="4">ACM-W</option>
          <option value="5">Coding Ninjas</option>
          <option value="6">Sig</option>
          <option value="7">Winter , DAta</option>
      </select>
      <p><span>You selected: </span><b>{{selected}}</b></p>
  </article>
  
    <h3>Uploads</h3>
  
  </div>

<br><br>


  <div class="dropzone" dropzone (hovered)="toggleHover($event)" (dropped)="onDrop($event)"
    [class.hovering]="isHovering">


    <h3>AngularFire Drop Zone</h3>
    <p>Drag and Drop a File</p>
  </div>

  
  <div *ngFor="let file of files">
    <upload-task [file]="file" [selected]="selected"></upload-task>
  </div>
</div>

<div *ngIf="!currentUser.admin" >
  <br><br>
  <div style="text-align: center;">
  <img src="../../assets/images/avc/error-404-found-glitch-effect_8024-4.jpg" alt="">
  </div>
  </div>