<!-- <div class="container">
        <div *ngIf="items">
            <div *ngFor="let item of items"  class="blog-item">
                <img src="{{item.downloadURL  }}" alt="">
            </div>
        </div>
<div [hidden]="items" class="text-center">
    <mat-spinner></mat-spinner>
</div>
</div> -->

<br /><br /><br /><br />

<div class="photo-gallery">
  <div class="container">
    <div id="heading">
      <div class="container hdAndText" style="text-align: left;">
        <h1 class="h1text">GALLERY</h1>
        <div class="yellow_line"></div>
      </div>
    </div>
    <br /><br />

    <div id="heading">
      <div class="container hdAndText" style="text-align: center;">
        <b> <h3 class="h4text">Pulzion 2019</h3></b>
        <div class="yellow_line1"></div>
      </div>
    </div>
    <br /><br />
    <div class="row photos ">
      <ng-container *ngFor="let item of items">
        <div
          class="col-sm-6 col-md-4  item item1 fix"
          *ngIf="item.category == 1"
        >
          <a href="{{api}}/{{ item.path }}" data-lightbox="photos"
            ><img class="img-fluid" src="{{api}}/{{ item.thumb }}"
          /></a>
        </div>
      </ng-container>
    </div>

    <br /><br />

    <div id="heading">
      <div class="container hdAndText" style="text-align: center;">
        <b> <h3 class="h4text">Radiance & Pasckathon</h3></b>
        <div class="yellow_line1"></div>
      </div>
    </div>
    <br /><br />
    <div class="row photos ">
      <ng-container *ngFor="let item of items">
        <div
          class="col-sm-6 col-md-4  item item1 fix"
          *ngIf="item.category == 2"
        >
          <a href="{{api}}/{{ item.path }}" data-lightbox="photos"
            ><img class="img-fluid" src="{{api}}/{{ item.thumb }}"
          /></a>
        </div>
      </ng-container>
    </div>

    <br /><br />

    <div id="heading">
      <div class="container hdAndText" style="text-align: center;">
        <b> <h3 class="h4text">Hour of Code</h3></b>
        <div class="yellow_line1"></div>
      </div>
    </div>
    <br /><br />
    <div class="row photos ">
      <ng-container *ngFor="let item of items">
        <div
          class="col-sm-6 col-md-4  item item1 fix"
          *ngIf="item.category == 3"
        >
          <a href="{{api}}/{{ item.path }}" data-lightbox="photos"
            ><img class="img-fluid" src="{{api}}/{{ item.thumb }}"
          /></a>
        </div>
      </ng-container>
    </div>

    <br /><br />

    <div id="heading">
      <div class="container hdAndText" style="text-align: center;">
        <b> <h3 class="h4text">ACM - W</h3></b>
        <div class="yellow_line1"></div>
      </div>
    </div>
    <br /><br />
    <div class="row photos ">
      <ng-container *ngFor="let item of items">
        <div
          class="col-sm-6 col-md-4  item item1 fix"
          *ngIf="item.category == 4"
        >
          <a href="{{api}}/{{ item.path }}" data-lightbox="photos"
            ><img class="img-fluid" src="{{api}}/{{ item.thumb }}"
          /></a>
        </div>
      </ng-container>
    </div>

    <br /><br />

    <div id="heading">
      <div class="container hdAndText" style="text-align: center;">
        <b> <h3 class="h4text">Coding Ninjas Events</h3></b>
        <div class="yellow_line1"></div>
      </div>
    </div>
    <br /><br />
    <div class="row photos ">
      <ng-container *ngFor="let item of items">
        <div
          class="col-sm-6 col-md-4  item item1 fix"
          *ngIf="item.category == 5"
        >
          <a href="{{api}}/{{ item.path }}" data-lightbox="photos"
            ><img class="img-fluid" src="{{api}}/{{ item.thumb }}"
          /></a>
        </div>
      </ng-container>
    </div>

    <br /><br />

    <div id="heading">
      <div class="container hdAndText" style="text-align: center;">
        <b> <h3 class="h4text">SIGS</h3></b>
        <div class="yellow_line1"></div>
      </div>
    </div>
    <br /><br />
    <div class="row photos ">
      <ng-container *ngFor="let item of items">
        <div
          class="col-sm-6 col-md-4  item item1 fix"
          *ngIf="item.category == 6"
        >
          <a href="{{api}}/{{ item.path }}" data-lightbox="photos"
            ><img class="img-fluid" src="{{api}}/{{ item.thumb }}"
          /></a>
        </div>
      </ng-container>
    </div>

    <br /><br />

    <div id="heading">
      <div class="container hdAndText" style="text-align: center;">
        <b> <h3 class="h4text">Winter Coding Spree And Data Quest</h3></b>
        <div class="yellow_line1"></div>
      </div>
    </div>

    <br /><br />
    <div class="row photos ">
      <ng-container *ngFor="let item of items">
        <div
          class="col-sm-6 col-md-4  item item1 fix"
          *ngIf="item.category == 7"
        >
          <a href="{{api}}/{{ item.path }}" data-lightbox="photos"
            ><img class="img-fluid" src="{{api}}/{{ item.thumb }}"
          /></a>
        </div>
      </ng-container>
    </div>
    <br /><br />

    <div id="heading">
      <div class="container hdAndText" style="text-align: center;">
        <b> <h3 class="h4text">Eminent Speaker Program</h3></b>
        <div class="yellow_line1"></div>
      </div>
    </div>
    <br /><br />
    <div class="row photos ">
      <ng-container *ngFor="let item of items">
        <div
          class="col-sm-6 col-md-4  item item1 fix"
          *ngIf="item.category == 8"
        >
          <a href="{{api}}/{{ item.path }}" data-lightbox="photos"
            ><img class="img-fluid" src="{{api}}/{{ item.thumb }}"
          /></a>
        </div>
      </ng-container>
    </div>
  </div>
</div>
