<br>
<br>
<br>
<br>
<br>
<br>
<div class="text-center " style="font-size: 25px" *ngIf="loading">
    <div class="spinner-border " role="status">
        <span class="sr-only">Loading...</span>
    </div>
</div>
<div class="container" *ngIf="formMode && !loading">
    <div class="container m-auto">
        <div class="row">
            <div class="col-lg-3 col-md-2">
            </div>
            <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12 ">
                <div class="card text-center">
                    <div class="card-body">
                        <h4 class="card-title text-center">Reset Password</h4>
                        <p class="text-center">for <b>{{email}}</b></p>
                        <div class="container"></div>
                        <mat-form-field appearance="fill" style="width:80%" class="text-left">
                            <mat-label>New password</mat-label>
                            <input matInput [type]="hide? 'password':'text'" #pass ngModel>
                            <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                <mat-icon>{{hide? 'visibility_off':'visibility'}}</mat-icon>
                            </button>
                        </mat-form-field>
                        <span class="justify-content-center"><button class="btn pl-2 pr-2 rp" (click)="onReset(pass.value)">Reset Password</button></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-2"></div>
        </div>
    </div>
</div>
<div class="container" *ngIf="!formMode && !loading">
    <div class="container m-auto">
        <div class="row">
            <div class="col-lg-3 col-md-2">
            </div>
            <div class="col-lg-6 col-md-8 col-sm-12 col-xs-12 ">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title text-center">Reset Password</h4>
                        <hr>
                        <div class="card-text" *ngIf="!success">
                            Your request to reset your password has expired or the link has already been used
                        </div>
                        <div class="card-text" *ngIf="success">
                            Your request to reset your password is successful. You can login with your new password.
                        </div>
                        <hr>
                        <span *ngIf="!success" class="justify-content-center"><button class="btn pl-2 pr-2 rp1" routerLink="/forgot">Reset Password Again?</button></span>
                        <span *ngIf="success" class="justify-content-center"><button class="btn pl-2 pr-2 rp1" routerLink="/login">Login</button></span>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-2"></div>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>