.rp {
    background: #3c8adb;
    color: white;
    border-radius: 30px;
    padding: 10px;
    width: 50%;
}

.rp1 {
    background: #3c8adb;
    color: white;
    border-radius: 30px;
    padding: 10px;
    width: 50%;
    margin-left: 25%
}

.rp:hover,
.rp1:hover {
    color: black;
    opacity: 0.8;
}

.card {
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, .2);
}

.card-text {
    padding: 6px;
    justify-content: center;
}