
<br><br><br><br><br>
<div *ngIf="currentUser">

<nav class="navbar navbar-light bg-info">
    <span class="navbar-brand mb-0 h1">Admin Panel</span>
  </nav>
  
 <div class="container" >

  <div>
  <mat-form-field>
    <input matInput [matDatepicker]="myDatepicker" placeholder="Date(please update in calender)" [(ngModel)] = "date">
    <mat-datepicker-toggle matSuffix [for]="myDatepicker"></mat-datepicker-toggle>
    <mat-datepicker #myDatepicker></mat-datepicker>
  </mat-form-field>

  
  <mat-form-field>
      <input matInput placeholder="Activity" [(ngModel)] = "activity" class="input-field" >
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="Attendees" [(ngModel)] = "attendees" class="input-field" >
      </mat-form-field>
      <mat-form-field>
          <input matInput placeholder="Details" [(ngModel)] = "details" class="input-field" >
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Speaker" [(ngModel)] = "speaker" class="input-field" >
          </mat-form-field>


          <button mat-raised-button color="blue" class="btn btn-primary m-4" (click)="createEvent()">Create Event</button>
  </div>

</div> 

</div>

<div *ngIf="!currentUser" >
  <br><br>
  <div style="text-align: center;">
  <img src="../../../assets/images/avc/error-404-found-glitch-effect_8024-4.jpg" alt="">
  </div>
  </div>